.container {
    display: flex;
    justify-content: center;
}

.date-picker {
    margin-top: 20px;
    max-width: 400px;
    padding: 10px;
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
    background-color: antiquewhite;
}

.month-title {
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

.weekday-container {
    display: flex;
}